* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.submit-area {
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.15);
    max-width: 700px;
}

#transaction-area {
    display: none;
}

.status {
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}
